.password {
  position: relative;
  color: var(--color-text);

  &.password--image-aspect-custom {
    .password__image-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      min-height: var(--custom-height-mobile);
      height: 100%;
      overflow: hidden;

      @media (--above-720) {
        min-height: var(--custom-height);
      }

      .image__img {
        display: block;
        position: absolute;
        object-fit: cover;
        object-position: var(--focal-alignment, center);
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    .password__text-container-wrapper {
      min-height: var(--custom-height-mobile);
      height: 100%;
      position: relative;

      @media (--above-720) {
        min-height: var(--custom-height);
      }
    }
  }

  &.password--text-center {
    text-align: center;
  }

  &.password--text-right {
    text-align: right;
  }

  /* Account for section being under transparent header */
  /* Eliminate padding top from section settings */
  body.header-transparent #main > .shopify-section:first-child & {
    padding-top: 0;
  }
}

.password__inner {
  position: relative;
}

.password__image {
  position: relative;
  height: 100%;
}

.password__image-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.password__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--overlay-background-gradient, var(--overlay-background));
  opacity: var(--overlay-opacity);
}

.password__text-container-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: var(--text-horizontal-position);
  align-items: var(--text-vertical-position);
  max-width: calc(var(--max-width) + calc(var(--space-outer) * 2));
  margin: 0 auto;
  padding: var(--spacing-10) var(--space-outer);
}

.password__text-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: var(--text-horizontal-position);

  /* Account for section being under transparent header */
  body.header-transparent #main > .shopify-section:first-child .password & {
    padding-top: var(--height-header);
  }
}

.password__text-container-inner {
  z-index: 1;
}

.password__form-wrapper {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;

  @media (--above-480) {
    width: 100vw;
  }
}

.password__notify-form {
  position: relative;

  .input {
    color: inherit;
    height: 50px;
    margin-top: 0;
    padding: var(--spacing-4) 0;
    border: none;
    border-bottom: 1px solid currentColor;
    border-radius: 0;
  }

  .password__signup-button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    text-transform: uppercase;
    font-size: var(--font-size-body-2);
    letter-spacing: 0.075em;
    color: var(--color-text);
  }
}

.password-unlock__trigger {
  display: inline-flex;
  align-items: center;
  column-gap: var(--spacing-2);
}

.password-unlock__content {
  display: none;
  text-align: center;
  padding: var(--spacing-5);
  padding-top: var(--spacing-12);
  padding-bottom: var(--spacing-7);

  @media (--above-720) {
    padding-top: var(--spacing-7);
  }

  .password-unlock__text {
    font-weight: 400;
  }

  .password-unlock__form-wrapper {
    margin-right: auto;
    margin-left: auto;
    margin-top: var(--spacing-5);
  }

  .password-unlock__login-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--spacing-4);
    column-gap: var(--spacing-3);

    .input {
      flex: 65%;
      min-height: var(--height-input);
      margin-top: 0;
      padding: var(--spacing-2) var(--spacing-4);
    }

    .password-unlock__button {
      flex: 30%;
    }

    @media (--above-720) {
      flex-direction: row;
    }
  }

  .password-unlock__admin {
    margin-top: var(--spacing-8);
  }
}

.template-password {
  .header {
    padding-top: 0;
  }

  .modal__inner {
    max-width: 476px;
    width: 100%;
    height: fit-content;
    margin: var(--spacing-6);
    padding: var(--spacing-4);

    @media (--above-720) {
      width: calc(100vw - var(--spacing-9) * 2);
    }
  }
  &.is-mobile {
    .modal__inner {
      height: revert;
    }
  }
}
