.comments {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.comments__heading {
  margin: var(--spacing-9) 0;
  padding-top: var(--spacing-9);
  border-top: 1px solid var(--color-border);
}

.comment {
}

.comment + .comment {
  margin-top: var(--spacing-7);
  padding-top: var(--spacing-7);
  border-top: solid 1px var(--color-border-meta);
}

.comment__content {
}

.comment__meta {
  margin-bottom: var(--spacing-2);
}

.comment__author {
}

.comment__date {
  display: block;
  color: var(--color-text-meta);
}

.comments__leave-heading {
  border-top: 1px solid var(--color-border);
  margin: var(--spacing-9) 0;
  padding-top: var(--spacing-9);
}

.comments__mod-message {
  margin: var(--spacing-3) 0;
}

.comments__submit {
  margin-top: var(--spacing-10);
}
