html:not(.no-js) {
  .navigation__submenu {
    position: absolute;
    color: var(--color-text);
    margin-top: -1px;
    text-align: left;
    text-transform: none;
    line-height: 1.55em;
    top: 100%;
    transition: visibility 0s 0s var(--easing),
      opacity var(--duration-fast) 0s var(--easing);

    &:not(.active) {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s var(--duration-fast) var(--easing),
        opacity var(--duration-fast) var(--easing);
      display: none;
    }

    &[data-depth="1"] {
      left: 0;
      transform: translateX(calc(var(--navigation-menu-offet) * -1));
      margin-left: calc(-1 * var(--spacing-5));

      &.active {
        left: unset;
      }
    }

    &[data-depth="2"] {
      top: unset;
      left: 100%;

      /* dynamic margin applied only when parent is overflow: scroll */
      margin-top: calc(
        (var(--submenu-item-height, 0px) + var(--spacing-4)) * -1
      );

      &[data-position="left"] {
        left: -100%;
      }

      .navigation__submenu-list {
        max-height: var(--max-height);
      }
    }
  }

  /* dynamic margin applied only when parent is overflow: scroll */
  &:not(.sticky-header-active) .navigation__submenu {
    &[data-depth="2"] {
      margin-top: calc(
        (
            var(--height-header, 0px) + var(--announcement-height, 0px) -
              var(--submenu-item-height, 0px)
          ) * -1
      );
    }
  }

  .navigation__submenu-list {
    --width: 232px;
    width: var(--width);
    padding: var(--spacing-8);
    background: var(--color-navigation-background);
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    box-shadow: -5px 5px 30px 0 rgba(0, 0, 0, 0.05);

    &::-webkit-scrollbar {
      display: none;
    }

    /* Ensure dropdown doesn't exceed the height of the viewport */
    max-height: calc(
      (var(--vh, 1vh) * 100) -
        (var(--height-header, 0px) + var(--announcement-height, 0px))
    );
  }

  /* Ensure dropdown doesn't exceed the height of the viewport */
  &.sticky-header-active .navigation__submenu-list {
    max-height: calc(
      (var(--vh, 1vh) * 100) - var(--header-desktop-sticky-height, 0px)
    );
  }

  .navigation__submenu-item {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: normal;

    [data-link] {
      display: block;
      width: 100%;
      text-align: left;
      text-transform: none;
      line-height: inherit;
    }

    .navigation__submenu-child-link {
      position: relative;
      display: flex;
      align-items: center;

      .icon {
        display: flex;
        width: 10px;
        height: 10px;
      }
    }

    & > button {
      width: 100%;
      display: flex;
    }

    & + .navigation__submenu-item {
      margin-top: var(--spacing-2);
    }
  }

  .navigation__submenu-icon {
    margin-left: auto;
    pointer-events: none;
    transform: rotate(-90deg);
  }

  .navigation__submenu-trigger {
    display: flex;
    align-items: center;

    &[aria-expanded="true"] {
      text-decoration: underline;
      text-underline-position: auto;
    }
  }
}

.header.dropdown-active {
  li[data-submenu-parent] > .navigation__submenu-trigger[aria-expanded="false"] {
    opacity: 0.5;
  }

  li[data-default-nav-link] > a[aria-expanded="false"] {
    opacity: 0.5;
  }
}

.navigation__submenu-title {
  font-family: var(--font-button);
  font-weight: var(--font-button-weight);
  font-size: var(--font-size-button);
  text-transform: var(--text-transform-button);
  line-height: var(--line-height-button);
  letter-spacing: var(--letter-spacing-button);
  display: flex;
  align-items: center;
  gap: 4px;

  &.link-hover {
    &::before {
      display: none;
    }
  }

  .navigation__submenu-title-badge {
    font-size: 9px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: var(--color-inline-link-dark);
    color: var(--color-button-dark-solid-text);
    padding: 4px;
    border-radius: 2px;
    overflow: hidden;
  }
}

.no-js {
  .header__links {
    ul {
      display: inline-block;
      margin: 0 0 0 var(--spacing-5);
      padding: 0;
    }

    li {
      list-style: none;
      display: inline-block;

      & + li {
        margin-left: var(--spacing-5);
      }
    }
  }
}
