.product-badges {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  pointer-events: none;
  text-transform: var(--font-product-badge-text-transform);
}

.product-badge {
  display: flex;
  align-items: center;
  font-size: var(--font-size-subheading-1);
  line-height: var(--line-height-subheading-1);
  text-transform: var(--text-transform-subheading-1);
  letter-spacing: var(--letter-spacing-subheading-1);
  font-weight: 700;
  padding: 6px 4px 4px;
  background: var(--color-background);
  color: var(--color-text);
  border: 1px solid currentColor;
  border-radius: 4px;
  height: 26px;
}

.product-badge--sale {
  color: var(--color-text-sale-badge);
}

.product-badge--sold-out {
  background-color: var(--color-background-sold-badge);
  border-color: var(--color-background-sold-badge);
  color: var(--color-text-sold-badge);
}

/* Product item specific styles */

.product-item .product-badges {
  z-index: 10;
  position: absolute;

  &.product-badges--position-top {
    top: var(--spacing-2);
  }

  &.product-badges--position-bottom {
    bottom: var(--spacing-2);
  }

  &.product-badges--position-right {
    right: 0;
    justify-content: end;
  }

  &.product-badges--position-left {
    left: var(--spacing-2);
  }
}
