.quantity-input {
  height: 42px;
  display: inline-flex;
  border: 1px solid var(--color-border);
  overflow: hidden;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: var(--color-text);
  }

  input {
    width: 48px;
    margin: 0 calc(var(--spacing-3) * -1);
    padding: 0;
    border: 0;
    overflow: visible;
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    .no-js & {
      margin: 0;
    }
  }

  .has-quantity-update & {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
}

.quantity-input__button {
  position: relative;
  height: 100%;
  cursor: pointer;
  color: var(--color-text);
  background-color: transparent;
  border: 0;
  transition: background-color 0.25s ease-in-out;
  padding: 6px var(--spacing-3);
  z-index: 1;

  &:hover,
  &:focus {
    background-color: var(--color-background-darker-meta-alpha);
  }

  &:active {
    background-color: var(--color-background-darker-meta);
  }

  .icon {
    width: 12px;
    height: 12px;
  }

  .has-quantity-update & {
    cursor: default;
    pointer-events: none;
  }

  .no-js & {
    display: none;
  }
}
