.social-icons-block {
  .social-icons {
    justify-content: center;
    gap: var(--spacing-4);

    &.social-icons--left {
      justify-content: flex-start;
    }

    &.social-icons--right {
      justify-content: flex-end;
    }

    li {
      margin: 0;
    }
  }
}
