.social-share {
  position: relative;
  display: inline-block;
}

.social-share__button,
.btn.social-share__button {
  display: inline-flex;
  align-items: center;
  padding: 0;

  .icon-share {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-right: 6px;
  }
}

.social-sharing__popup {
  display: none;
  position: absolute;
  width: calc(100vw - var(--space-outer) * 2);
  max-width: 350px;
  padding: var(--spacing-4);
  border: solid 1px var(--color-border);
  background-color: var(--color-background);
  color: var(--color-text);

  &[aria-hidden="false"] {
    display: block;
    z-index: var(--z-index-popup);
  }

  .social-sharing--align-horizontal-center & {
    left: 50%;
    transform: translateX(-50%);
  }

  .social-sharing--align-horizontal-left & {
    left: 0;
    transform: translateX(0);
  }

  .social-sharing--align-horizontal-right & {
    left: auto;
    right: 0;
    transform: translateX(0);
  }

  .social-sharing--align-vertical-above & {
    bottom: calc(100% + var(--spacing-1));
  }

  .social-sharing--align-vertical-below & {
    top: calc(100% + var(--spacing-1));
  }
}

.social-share__input-wrapper {
  position: relative;
  display: flex;
  border: solid 1px var(--color-border-input);
  background-color: var(--color-background-meta);
  color: var(--color-text);
}

.social-share__input {
  display: block;
  width: 100%;
  padding: var(--spacing-2) var(--spacing-3);
  padding-right: 0;
  border: 0;
  text-overflow: ellipsis;
  z-index: 1;
  transition: opacity 0.1s;

  .social-sharing__popup--success & {
    opacity: 0;
  }
}

.social-share__copy-url {
  display: flex;
  flex: 0 0 var(--spacing-4);
  padding: var(--spacing-1) 6px;
  z-index: 3;

  > .icon {
    margin: auto;
  }

  .icon-copy {
    width: 20px;
    height: 20px;
  }

  &.hidden {
    display: none;
  }
}

.social-share__success-message {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: var(--spacing-2) var(--spacing-3);
  line-height: normal;
  opacity: 0;
  transition: opacity 0.1s;

  &.hidden {
    display: none;
  }

  .social-sharing__popup--success & {
    opacity: 1;
    z-index: 2;
  }
}

.social-share__icons {
  margin-top: var(--spacing-5);
  white-space: nowrap;
}
