.order__product {
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.order__image {
  position: relative;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  background-color: var(--color-background-meta);
  margin-right: var(--spacing-10);

  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.account__order-summary {
  width: 100%;
  margin-top: var(--spacing-5);

  @media (--above-480) {
    max-width: 400px;
  }
}

.account__order-summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-3);

  &.account__order-summary-item--discount-text {
    margin-top: 0;
  }
}

.account__order-summary-item--total {
  margin-top: var(--spacing-3);
  padding-top: var(--spacing-3);
  border-top: 1px solid var(--color-border);
}

.account__order-footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-10);

  @media (--above-720) {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}

.account__order-addresses {
  width: 100%;
}

.account__order-footer-col {
  width: 100%;

  @media (--below-480) {
    & + & {
      margin-top: var(--spacing-10);
    }
  }

  @media (--above-720) {
    width: calc(1 / 3 * 100%);
    padding: 0;
  }

  @media (--above-960) {
    width: calc(1 / 4 * 100%);
  }
}

.account__order-footer-col--summary {
  flex-grow: 1;

  @media (--above-720) {
    margin-left: auto;
    max-width: 400px;
  }
}

.account__order-footer-col + .account__order-footer-col {
  @media (--below-720) {
    margin-top: var(--spacing-10);
  }
}

.account__order-status {
  margin-top: var(--spacing-3);
}

.account__table--order {
  @media (--below-960) {
    td {
      padding-top: var(--spacing-3);
    }

    .order__product {
      padding-bottom: var(--spacing-5);
    }

    .order__image {
      margin-right: var(--spacing-5);
    }
  }

  th {
    white-space: normal;
  }

  td {
    white-space: normal;
  }
}
