.countdown-banner {
  color: var(--color-text);
}

.countdown-banner__inner {
  position: relative;
  background-color: var(--color-background);
}

.countdown-banner__image,
.countdown-banner__image.image .image__img {
  display: block;
  position: absolute;
  object-fit: cover;
  object-position: var(--focal-alignment, center);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.countdown-banner__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--overlay-background-gradient, var(--overlay-background));
  opacity: var(--overlay-opacity);
}

.countdown-banner__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: var(--min-height-mobile);
  padding: var(--spacing-4);
  overflow: hidden;

  .countdown-banner--bar & {
    padding-right: var(--space-outer);
    padding-left: var(--space-outer);
  }

  .countdown-banner--frame &::before {
    content: "";
    position: absolute;
    top: var(--spacing-4);
    left: var(--spacing-4);
    right: var(--spacing-4);
    bottom: var(--spacing-4);
    border: solid 1px var(--color-text);
    pointer-events: none;
  }

  @media (--above-720) {
    min-height: var(--min-height);
    padding: var(--spacing-5);

    .countdown-banner--frame &::before {
      top: var(--spacing-5);
      left: var(--spacing-5);
      right: var(--spacing-5);
      bottom: var(--spacing-5);
    }
  }
}

/* Single column block */
.countdown-banner__single-column {
  padding: var(--spacing-6) var(--spacing-5);
  text-align: center;

  @media (--above-720) {
    padding: var(--spacing-9) var(--spacing-5);
  }
}

.countdown-banner__button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: calc(var(--spacing-2) * -1);
}

.countdown-banner__button {
  margin: var(--spacing-2);
}

/* Promotion bar block */
.countdown-banner__bar {
  width: 100%;
  text-align: center;

  @media (--above-960) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width);
    /* margin: calc(1vw * -1) 0; */
  }
}

.countdown-banner__bar-item {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);

  &.countdown-banner__bar-item--timer {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
  }

  &.countdown-banner__bar-item--text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (--above-960) {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    text-align: center;

    &.countdown-banner__bar-item--timer {
      margin-right: 3vw;
      margin-left: 3vw;
      padding-top: var(--spacing-2);
      padding-bottom: var(--spacing-2);
    }

    &.countdown-banner__bar-item--text {
      justify-content: space-between;
    }
  }
}

.countdown-banner__bar-text {
  & + .countdown-banner__button {
    margin-left: var(--spacing-3);
    white-space: nowrap;
  }

  @media (--above-720) {
    & + .countdown-banner__button {
      margin-left: 3.3vw;
    }
  }
}
