.featured-collection-slider {
  position: relative;

  &.section {
    padding-top: var(--fcs-padding-top-mobile);
    padding-bottom: var(--fcs-padding-bottom-mobile);

    @media (--above-720) {
      padding-top: var(--fcs-padding-top-desktop);
      padding-bottom: var(--fcs-padding-bottom-desktop);
    }
  }
}

.shopify-section:has(.featured-collection-slider--has-sticker) {
  overflow: visible;
}

.featured-collection-slider--has-sticker {
  z-index: 1;
}

.featured-collection-slider__sticker {
  display: none;
  position: absolute;
  top: -124px;
  right: -84px;
  z-index: 1;
  width: 404px;
  aspect-ratio: 404 / 343;
  pointer-events: none;

  @media (--above-720) {
    display: block;
  }
}

.featured-collection-slider__sticker-image {
  width: 100%;
  height: 100%;

  & .image__inner,
  & .image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.featured-collection-slider__introduction--align-left {
  text-align: left;
}

.featured-collection-slider__introduction--align-center {
  text-align: center;
}

.featured-collection-slider__introduction--align-right {
  text-align: right;
}

.featured-collection-slider__introduction.section-introduction {
  > .featured-collection-slider__navigation-tabs:last-child {
    margin-bottom: var(--spacing-6);

    @media (--above-720) {
      margin-bottom: var(--spacing-10);
    }
  }
}

.featured-collection-slider__heading.section-introduction > *:last-child {
  margin-bottom: var(--spacing-6);

  @media (--above-720) {
    margin-bottom: var(--spacing-8);
  }
}

.featured-collection-slider__navigation-tabs {
  margin-top: var(--spacing-6);

  @media (--above-720) {
    margin-top: var(--spacing-5);
  }
}

.featured-collection-slider__navigation-tabs--align-left {
  .featured-collection-slider__navigation-list {
    justify-content: flex-start;
  }
}

.featured-collection-slider__navigation-tabs--align-center {
  .featured-collection-slider__navigation-list {
    justify-content: center;
  }
}

.featured-collection-slider__navigation-tabs--align-right {
  .featured-collection-slider__navigation-list {
    justify-content: flex-end;
  }
}

.featured-collection-slider__navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--spacing-4);
  margin-top: var(--spacing-6);

  &.carousel__navigation-wrapper,
  &.featured-collection-slider__navigation--align-right {
    justify-content: flex-end;
  }

  &.featured-collection-slider__navigation--align-center {
    justify-content: center;
  }

}

.featured-collection-slider__carousel-controls {
  display: none;
  width: 100%;

  &.visible {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
  }

  & .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
  }

  @media (--above-720) {
    &.visible {
      justify-content: flex-end;
    }
  }
}

.featured-collection-slider__navigation--align-center {
  .featured-collection-slider__carousel-controls.visible {
    @media (--above-720) {
      justify-content: center;
    }
  }
}

.featured-collection-slider__navigation--align-left {
  .featured-collection-slider__carousel-controls.visible {
    @media (--above-720) {
      justify-content: flex-start;
    }
  }
}

.featured-collection-slider__carousel-pagination {
  position: relative;
  bottom: auto;
  width: 100%;
  line-height: 1;

  @media (--above-720) {
    display: none;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 6px;
    opacity: 0.3;
    background-color: var(--color-inline-link-dark);
    transition: transform var(--duration-normal) var(--easing),
      opacity var(--duration-normal) var(--easing);

    &.swiper-pagination-bullet-active {
      opacity: 1;
      transform: scale(1.3);
    }
  }
}

.featured-collection-slider__navigation-buttons {
  @media (--above-720) {
    margin-left: auto;
    margin-right: auto;
  }
}

.featured-collection-slider__navigation-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (--above-720) {
    gap: var(--spacing-10);
  }

  .no-js & {
    display: none;
  }
}

.featured-collection-slider__navigation-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  color: var(--color-text);
  opacity: 0.5;

  &.selected,
  &:hover {
    opacity: 1;

    .featured-collection-slider__navigation-indicator {
      opacity: 1;
    }
  }

  .featured-collection-slider__navigation-indicator {
    display: flex;
    margin-top: var(--spacing-2);
    width: 13px;
    height: 12px;
    opacity: 0;
    transition: opacity var(--duration-normal) var(--easing);

    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.featured-collection-slider__content {
  display: none;

  .animation & {
    &.fadeout {
      opacity: 0;
      transition: opacity var(--duration-fast) var(--easing);
    }

    &.init-reveal {
      opacity: 0;
      transition: transform var(--duration-fast) var(--easing),
        opacity var(--duration-fast) var(--easing);

      &.reveal {
        opacity: 1;
        transform: unset;
        transition: transform var(--duration-normal) var(--easing),
          opacity var(--duration-normal) var(--easing);
      }

      html.do-anim & {
        transform: translateY(20px);

        &.reveal {
          transform: unset;
        }
      }
    }
  }

  &.visible {
    display: block;
  }
}

.featured-collection-slider__content-view-all-wrapper {
  height: unset;
  display: flex;
  align-items: center;
  margin-left: var(--spacing-4);

  @media (--above-720) {
    margin-left: var(--spacing-6);
  }
}

.featured-collection-slider__content-view-all-header
  + .featured-collection-slider__view-all {
  margin-top: var(--spacing-3);
}

.featured-collection-slider__button {
  width: 100%;
  justify-content: center;
  margin-top: var(--spacing-6);

  @media (--above-720) {
    margin-top: var(--spacing-10);
  }

  .button-block__label--has-icon {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  .btn {
    border-radius: 100px;
    max-height: 53px;
  }

  .btn.btn--outline.btn--dark:hover:not([disabled]):not(.disabled) {
    color: var(--color-button-dark-outline-text);
    border-color: var(--color-button-dark-solid-bg-hover);

    &::before {
      background-color: var(--color-button-dark-solid-bg-hover);
    }
  }
}