.grid {
  &.section,
  &.section.section--full-width {
    padding-top: var(--grid-padding-top-mobile);
    padding-bottom: var(--grid-padding-bottom-mobile);
    padding-right: var(--grid-container-padding, var(--spacing-between-sections));
    padding-left: var(--grid-container-padding, var(--spacing-between-sections));

    @media (--above-960) {
      padding-top: var(--grid-padding-top-desktop);
      padding-bottom: var(--grid-padding-bottom-desktop);
    }
  }
}

.grid__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  @media (--above-720) and (--below-960) {
    row-gap: var(--grid-spacing-mobile, var(--spacing-2));
    column-gap: var(--grid-spacing-mobile, var(--spacing-2));
  }

  @media (--above-960) {
    width: calc(100% + var(--grid-spacing, var(--spacing-6)));
    height: calc(100% + var(--grid-spacing, var(--spacing-6)));
    margin: calc((var(--grid-spacing, var(--spacing-6)) / 2) * -1);
  }
}

.grid__header {
  width: 100%;
  text-align: var(--text-align);

  @media (--above-960) {
    width: calc(100% + var(--spacing-6));
  }
}
