.testimonials {
  --mobile-paddle-size: 34px;

  background-color: var(--section-background-color, var(--color-background));
  color: var(--color-text-section);

  &[data-block-count="1"] {
    .testimonials__item,
    .testimonials__items-wrapper {
      @media (--below-720) {
        margin: 0;
      }
    }

    .testimonails__carousel.swiper {
      padding-right: 0;
      padding-left: 0;

      @media (--below-720) {
        overflow: hidden;
        width: 100%;
        margin: 0;
      }
    }
  }

  &.testimonials--has-background {
    .testimonials__navigation-button-wrapper--prev {
      @media (--below-720) {
        left: calc(var(--mobile-paddle-size) / 3);
      }
    }

    .testimonials__navigation-button-wrapper--next {
      @media (--below-720) {
        right: calc((var(--mobile-paddle-size) / 3));
      }
    }
  }
}

.testimonials__inner {
  position: relative;
}

.testimonials__navigation-button-wrapper {
  display: flex;
  align-items: center;
  z-index: 3;
  position: absolute;
  top: var(--mobile-button-offset, 50%);

  @media (--above-720) {
    top: 50%;
    transform: translatey(-50%);
  }
}

.testimonials__navigation-button-wrapper--prev {
  left: calc((var(--mobile-paddle-size) / 3) * -1);

  @media (--above-720) {
    left: 1px;
  }
}

.testimonials__navigation-button-wrapper--next {
  right: calc((var(--mobile-paddle-size) / 3) * -1);

  @media (--above-720) {
    right: 1px;
  }
}

.testimonials__navigation-button {
  flex-shrink: 0;
  display: flex;
  transition: transform 0.2s ease;

  @media (--below-720) {
    background-color: var(--color-background);
    color: var(--color-text);
    width: var(--mobile-paddle-size);
    height: var(--mobile-paddle-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 2px var(--nav-box-shadow-1),
      0px 2px 6px var(--nav-box-shadow-2);
  }

  &:hover {
    transform: scale(1.1);
  }

  .icon {
    height: 16px;

    @media (--above-720) {
      height: 21px;
    }
  }
}

.testimonials__navigation-button--prev {
  margin-right: var(--spacing-8);
  margin-left: -6px;

  @media (--below-720) {
    margin: 0;
  }

  .icon {
    transform: rotate(90deg);
  }
}

.testimonials__navigation-button--next {
  margin-right: -6px;
  margin-left: var(--spacing-8);

  @media (--below-720) {
    margin: 0;
  }

  .icon {
    transform: rotate(-90deg);
  }
}

.testimonails__carousel {
  position: relative;

  &.swiper {
    padding: 0 var(--spacing-10);

    @media (--below-720) {
      position: static;
      overflow: visible;
      width: 95%;
      margin: 0 calc(var(--space-outer) / -2);
      padding: 0;
    }

    .no-js & {
      overflow: scroll;
    }
  }
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: calc(var(--space-outer) / 2);
  margin-left: calc(var(--space-outer) / 2);
  background-color: var(--section-background-color, var(--color-background));

  @media (--above-720) {
    width: 100%;
    flex-direction: row;
    margin: 0;
  }

  &.testimonials__item--image-small {
    .testimonials__item-product {
      @media (--above-720) {
        width: 30%;
      }
    }
  }

  &.testimonials__item--image-medium {
    .testimonials__item-product {
      @media (--above-720) {
        width: 40%;
      }
    }
  }

  &.testimonials__item--image-large {
    .testimonials__item-product {
      @media (--above-720) {
        width: 50%;
      }
    }
  }

  &.testimonials__item--image-placement-left {
    .testimonials__item-product {
      @media (--above-720) {
        margin-right: 7%;
      }
    }
  }

  &.testimonials__item--image-placement-right {
    .testimonials__item-product {
      @media (--above-720) {
        margin-left: 7%;
      }
    }
  }
}

.testimonials__item-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--below-720) {
    margin-top: var(--spacing-10);
  }
}

.testimonials__item-product {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  @media (--below-720) {
    order: -1;
  }
}

.testimonials__item-product-title {
  margin-top: var(--spacing-4);
}

.testimonials__item-stars {
  .icon {
    width: 16px;
    height: 16px;
  }

  .icon + .icon {
    margin-left: -2px;
  }
}

.testimonials__item-quote {
  margin: 0;
}

.testimonials__item-stars + .testimonials__item-quote {
  margin-top: var(--spacing-5);
}

.testimonials__item-quote + .testimonials__item-author {
  margin-top: var(--spacing-3);
}
