.video {
  &.video--has-video {
    .video__media-container {
      background-color: #000;
    }
  }

  @media (--above-720) {
    &.video--text-center {
      text-align: center;
    }

    &.video--text-right {
      text-align: right;
    }
  }

  @media (--below-720) {
    &.video--text-mobile-center {
      text-align: center;
    }

    &.video--text-mobile-right {
      text-align: right;
    }
  }
}

.video__inner {
  position: relative;
  overflow: hidden;
  color: var(--overlay-text-color);
}

.video__image.image.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &.visible {
    opacity: 1;
  }
}

.video__video {
  position: relative;
  display: block;
  width: 100%;
}

.video__iframe {
  width: 100%;
  height: 100%;

  /* for Vimeo */
  iframe {
    width: 100%;
    height: 100%;
  }
}

.video__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--overlay-background-gradient, var(--overlay-background));
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: var(--overlay-opacity);
  }
}

.video__text-container-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: var(--text-horizontal-position);
  align-items: var(--text-vertical-position);
  margin: 0 auto;
  max-width: calc(var(--max-width) + calc(var(--space-outer) * 2));
  padding: var(--spacing-10) var(--space-outer);
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &.enable-pointer {
    cursor: pointer;
  }

  @media (--below-720) {
    justify-content: center;
    align-items: center;
  }

  .video__text-container-text-play-button {
    @media (--below-720) {
      margin: 0;
    }
  }
}

.video__text-container {
  max-width: 600px;
}

.video__text-container-heading,
.video__text-container-subheading,
.video__text-container-text {
  @media (--below-720) {
    display: none;
  }
}

.video__text-intro {
  @media (--above-720) {
    display: none;
  }
}
