@keyframes shimmer {
  0% {
    transform: translate3d(-30%, 200%, 0) rotate(45deg);
  }

  100% {
    transform: translate3d(-30%, -120%, 0) rotate(45deg);
  }
}

html.do-anim {
  .animation--lazy-load {
    overflow: hidden;

    &:not(.loaded) {
      > * {
        visibility: hidden;
      }

      &::after,
      &::before {
        position: absolute;
        inset: 0;
        width: 400%;
        height: 100%;
        transform: translate3d(0, -200%, 0) rotate(45deg);
        background: linear-gradient(
          180deg,
          hsla(0, 0%, 100%, 0) 0,
          hsla(0, 0%, 100%, 0) 5%,
          hsla(0, 0%, 99%, 1) 50%,
          hsla(0, 0%, 100%, 0) 95%,
          hsla(0, 0%, 100%, 0)
        );
        animation: shimmer 1500ms cubic-bezier(0.33, 0, 0.67, 1) infinite;
        content: "";
      }
      &::before {
        animation-delay: 650ms;
      }
    }
  }
}
