html.do-anim .animation--popup {
  .animation--popup-item {
    @mixin staggered-fade-in-from-bottom;
  }

  .popup__image .image__img {
    @mixin staggered-image-fade-scale;
    object-fit: cover;
    object-position: var(--focal-alignment);
    width: 100%;
    height: 100%;
    transition-duration: var(--duration-slow);
    transition-delay: 0ms;
  }

  &.animation--popup-revealed {
    .animation--popup-item {
      @mixin reveal-fade-in-from-y;
    }

    .popup__image .image__img {
      @mixin reveal-fade-scale;
    }
  }
}
