html.do-anim .animation.animation--video {
  &.is-visible {
    .video__image .image__img,
    .video__video {
      @mixin reveal-fade-scale;
    }
  }

  .animation--section-blocks > * {
    --adjusted-delay-offset-mulitplier: calc(
      var(--delay-offset-multiplier, 0) + 1
    );
    transition: transform var(--duration-normal) var(--easing),
      opacity var(--duration-normal) var(--easing);
    transition-delay: calc(
      var(--delay-normal) * var(--adjusted-delay-offset-mulitplier)
    );
  }

  .video__image .image__img,
  .video__video {
    @mixin image-fade-scale 1.3;
    transition-duration: var(--duration-slow);
  }
}
